<!DOCTYPE html>

<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <title>دسترسی غیرمجاز</title>
    <style>
        body {
            background-color: #ffecec;
            color: #cc0000;
            text-align: center;
            padding-top: 100px;
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <h1>403 - دسترسی غیرمجاز</h1>
    <p>شما اجازه دسترسی به این صفحه را ندارید.</p>
    <a href="{% url 'main_page' %}">بازگشت به خانه</a>
</body>

</html>