<!DOCTYPE html>

{% extends 'base.html' %}

{% block children %}

<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اطلاعات حساب کاربری</title>
    <style>
        li {
            white-space: pre-wrap;
        }
    </style>
</head>

<body style="text-align: right;">
    <h2>اطلاعات  حساب  کاربری</h2>
    <ul>
        <li>        <b>نام کاربری: </b> {{ user.username }}</li>
        <p></p>
        <li>        <b>نام: </b> {{ user.first_name }}</li>
        <p></p>
        <li>        <b>نام خانوادگی: </b> {{ user.last_name }}</li>
        <p></p>
        <li>        <b>ایمیل: </b> {{ user.email }}</li>
        <p></p>
        <li>        <b>تاریخ عضویت: </b> {{ user.date_joined }}</li>
    </ul>
</body>

</html>

{% endblock %}