<!DOCTYPE html>

{% extends 'base.html' %}

{% block children %}

<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>انجام شد!</title>
</head>

<body>

    <div>
        <h2 style="color: blue;">انجام شد!</h2>
        <br>
        <form action="{% url 'main_page' %}" method="get" dir="ltr"> {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" title="بازگشت به صفحه اصلی" value="صفحه اصلی">
        </form>
    </div>
    
</body>

</html>

{% endblock children %}