<!DOCTYPE html>

{% extends 'base.html' %}

{% block children %}

<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
</head>

<body>

    <div>
        <h2>وارد حساب کاربری خود شوید.</h2>
        <br>
        <form method="post" dir="ltr"> {% csrf_token %}
            {{ form.username }}
            <label for="id_username"> <b>:نام کاربری</b></label>
            <p></p>
            {{ form.password }}
            <label for="id_password"> <b>:رمبز عبور</b></label>
            <p></p>
            <input type="submit" title="ورود" value="ورود">
        </form>
    </div>
    
</body>

</html>

{% endblock children %}