<!DOCTYPE html>

{% extends 'base.html' %}

{% block children %}

<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خروج از حساب کاربری</title>
</head>

<body>

    <div>
        <h2>واقعا میخواهید از حساب خود خارج شوید؟ حیف نیست؟؟</h2>
        <br>
        <form method="post" dir="ltr"> {% csrf_token %} 
            {{ form.as_p }}
            <input type="submit" title="خروج از حساب کاربری" value="خروج">
        </form>
    </div>
    
</body>

</html>

{% endblock children %}