<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

{% block children %}

<html dir="rtl" lang="fa">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>موز پدیا</title>
</head>

<body>

    <div>
        <h2>وقت بخیر</h2>
        <p>
            به موز پدیا خیلی خوش آمدید. در این سایت شما می‌توانید  مقالاتی را در حوزه‌های متفاوت بخوانید و یا حتی ایجاد کنید!
        </p>
    </div>
    
</body>

</html>

{% endblock children %}